.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 32rem;
  height: 32rem;
}
@media only screen and (max-width: 600px) {
  .container {
    font-size: 8px;
  }
}

.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card2 {
  width: 11.5625rem;
  height: 13.9375rem;
  bottom: 0;
  left: 1.75rem;
}

.card3 {
  width: 14.8125rem;
  height: 15.875rem;
  left: 0;
  top: 11.25rem;
  bottom: 4.8125rem;
}

.card4 {
  width: 8.625rem;
  height: 16.5625rem;
  left: 1.78125rem;
  top: 1.75rem;
  bottom: 13.65625rem;
}
